.blob{
    border-radius:94% 6% 87% 13% / 21% 65% 35% 79%  ;
    transition: border-radius 500ms ease-in-out;
}

.blob:hover{
    border-radius: 94% 6% 93% 7% / 13% 72% 28% 87% ;
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 171px;
}

.wave .shape-fill {
    fill: #ECE7FE;
}
