body.active-modal{
  overflow-y: hidden;
}

.overlay{
  position: fixed;
  z-index: 2;
   width: 100vw;
  height: 100vh;
}
.overlay {
  background: rgba(49,49,49,0.8);
}
.ModalContainer{
  max-width: 800px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
  border-radius: 50px;
  padding: 4px;
}

.ModalContainer img{
  width: 300px;
  object-fit: cover;
}
.modalRight{
  width: 100%;
}
.closeBtn{
  position: fixed;
  top: 16px;
  right: 16px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem 2rem;
  text-align: left;
  gap:10px;
}

@media screen and (max-width:767px){
  .ModalContainer{
      flex-direction: column;
      top: 0;
      left: 0;
      transform: none;
      width: 100%;
      height: auto;
  }
  .ModalContainer img{
      width: 100%;
  }
}