.image-hover-effect {
  transition: transform 0.3s ease;
}

.image-hover-effect:hover {
  transform: scale(1.1);
}

.Car1 {
  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 2000 2000\' fill=\'%239E9EFF\'><path d=\'M1912 1209c27-319-72-699-318-882-187-139-462-224-785-204S85 468 84 880c0 455 481 345 636 484s139 514 477 516c386 3 693-420 715-671Z\'></path></svg>");
  background-repeat: no-repeat;
  position: center;
  object-fit: cover; */
  background: transparent;
  background-image: linear-gradient(180deg, #9e9eff 15%, #c4c1ff 100%);
  border-radius: 20px 0110px 20px 0110px;
}

.Car2 {
  background: transparent;
  background-image: linear-gradient(180deg, #9e9eff 15%, #c4c1ff 100%);
  border-radius: 20px 20px 20px 20px;
}

.Car3 {
  background: transparent;
  background-image: linear-gradient(180deg, #9e9eff 15%, #c4c1ff 100%);
  border-radius: 0110px 20px 0110px 20px;
}
