.blob {
  border-radius: 45% 10% 10% 42% / 50% 0% 0% 46%;
}
.section-background-bottom{
  background-image: linear-gradient(to right top,#D0B9F5, #D8C5F6, #ECE3FB, #FFFFFF 50%);
}
.section-background-top{
  background-image: linear-gradient(to left bottom, #dbc7fb, #dfcefa,#ECE3FB , #ffffff 50%);
}
/* .glowing {
  background-image: linear-gradient(
    to right top,
    #8f70c4,
    #a28bd1,
    #b5a5dd,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
} */

/* .glowing2 {
  background-image: linear-gradient(
    to left bottom,
    #a28bd1,
    #b5a5dd,
    #cac0e8,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
        #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
} */
