@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

body {
  /* transition: background-color 0.2s ease-in-out;  */
  font-family: 'Roboto','Poppins', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  outline: none;
  border: none;
}