@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
  /* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */
body { 
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Playfair Display', serif; */
  background-color: #ffffff;
  box-sizing: border-box;
  outline: none;
  border: none;
}